<template>
  <section  class="container notification content is-large">
    <div class="select">
      <select v-model="selectedCity">
        <option v-for="ciutat in llistaCiutats" v-bind:key="ciutat">{{ ciutat }}</option>
      </select>
      <div class="info-current">
        <h2>Current Weather</h2>
        <h3>{{selectedCity}}</h3>

        <h3>{{description}}</h3>
        <h3>{{temperatura}}ºC</h3>
        <h3>{{pressio}}hPa</h3>




      </div>
      <div class="info-forecast">
        <h2>Forecast</h2>
        <h4>({{selectedCity}})</h4>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "InfoMeteo",
  props: {
    llistaCiutats: []
  },
  data() {
    return {
      selectedCity: this.llistaCiutats[0],
      description: '',
      temperatura: '',
      pressio: ''
    }
  },
  methods: {
    async getWeather(ciutat) {
      var url = 'https://api.openweathermap.org/data/2.5/weather?q=' + ciutat + '&units=metric&lang=ca&appid=6524b339f2515375ef2be7b9763a2ac4';

      try {
        var response = await fetch(url);
        var data = await response.json();
        this.selectedCity = data['name'];
        this.description = data['weather'][0]['description']
        this.temperatura = data['main']['temp']
        this.pressio = data['main']['pressure']

      } catch (err) {
        console.log(err);
      }
    }
  },
  mounted: function () {
    this.getWeather(this.selectedCity);
  },

  watch: {
    selectedCity() {
      this.getWeather(this.selectedCity);
    }
  },
}
</script>

<style>

.info-current {
  background-color: deepskyblue;
  height: 180px;
  width: 700px;
  margin-left: auto;
  margin-right: 50px;
  border-radius: 10px;
}

h2, h3, h4 {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-forecast {
  background-color: yellow;
  height: 85px;
  width: 700px;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 15px;
  border-radius: 15px;
}

</style>