<template>
  <div id="app">
    <h1 class="title container">City Weather</h1>
    <InfoMeteo v-bind:llista-ciutats="europa"></InfoMeteo>
    <InfoMeteo v-bind:llista-ciutats="asia"></InfoMeteo>
  </div>
</template>

<script>
import InfoMeteo from './components/InfoMeteo.vue'

export default {
  name: 'App',
  data () {
    return {
      europa: [
        "Barcelona",
        "Lleida",
        "Sevilla",
        "Madrid",
        "Extremadura"
      ],
      asia: [
        "Tokyo",
        "China",
        "Islamabad"
      ]
    }
  },
  components: {InfoMeteo}
}
</script>

<style>
</style>
